@charset "UTF-8";
        * { margin: 0; padding: 0; }
        body, html { font-family: 'Noto Sans KR4', sans-serif; width: 100%;}
        ul { list-style: none; }
        a { text-decoration: none; color: #333;}
        li { list-style: none; }

        i[class*='xi'] {font-size: 28px; color:#000}
        i[class*='xi']:hover { color:rgb(226,55,25);}



        /* ν—¤λ” */
        .wrap { clear:both; width: 100% ;}
        #hd { clear:both; width: 100%; height:100px; /*position: fixed; top:0; left:0; z-index: 999;
        height:60px; background-color: rgba(255,255,255,0.8);*/}
        .hd_wrap { clear:both; width: 1280px; margin: 0 auto; }
        .logo { display:block; width: 100px; float: left; margin-top:15px;}
        .logo img { display: block; width: 100%;  }

        #gnb { float: left; margin-top: 30px; }
        #gnb > ul > li { float:left; padding-left : 50px; padding-right: 20px; position:relative; }
        #gnb > ul > li > span { display:block; line-height: 36px; cursor: pointer;}

        #gnb ul li .sub li {line-height: 38px;}
        #gnb ul li .sub {display:none; position: absolute; left: 10px; top: 36px; z-index: 999;
        padding-left: 10px; width: 160px; height: 200px; background-color: #eee;}
        #gnb ul li:hover .sub { display:block; }
        #gnb ul li:hover span { color: gold }
        #gnb ul li .sub li:hover a { color: gold }


        #language { float: right; padding-top :14px; padding-bottom: 14px; margin-top: 21px; }
        #language a { font-size: 0.85em; padding-left: 15px;}
        #language a:hover { color : pink; text-decoration: underline;}


        /* ν‘Έν„° */
        #ft { clear:both; width: 100%; padding-top: 20px; }
        .ft_wrap { clear:both; width: 1280px; margin: 0 auto; }
        .fnb { float:left; }
        .fnb a { display:block; float:left; margin:14px; 
                margin-left: 0; margin-right: 28px; font-size:12px; }
        .fnb a:after { content:"|"; padding-left: 28px; }
        .fnb a:last-child::after { content:""; }
        .snb { float:right; }
        .snb ul li { float:left; margin-left: 28px; }
        .copyright { clear:both; padding-bottom: 28px; font-size:12px; }